---
layout: home-layout
ref: index
lang: en
menuitem: Home
priority: 1
requiresSemanticCard: true
---

<div class="home">
 <div class="ui secondary page stackable grid overview segment segment-padding" id="mission">
    <h2 class="ui header center aligned not-on-mobile">
    The mission of the cryptocurrency.
     </h2>
    <h5 class="ui header left aligned not-on-mobile">
     The introduction of the blockchain appeared since the beginning as a revolutionary step for mankind. The principles of trustlessness, decentralization, immutability of transactions and of the initial money emission conditions, the exclusion of the middlemen and relative costs are all breathtaking concepts indeed especially because they have been practically realized in the delivered code that everybody can verify by himself.
Bitcoin and the other cryptocurrencies that was trying to develop and improve the initial idea has become very popular over time.
Many people all around the world have become involved both as developers and as traders/hodlers.
However more than one decade after the initial launch it seems to be clear that no incisive real world use of the cryptocurrencies has been realized so far.
Thus the uncovered speculative potential of the cryptocurrencies has become the main focus for the majority of its users.
We believe that the cryptocurrency has yet the undiscovered or at least not clearly formulated mission - to improve the people's lives by financing the technological and humanitarian projects that can't be funded by traditional means. 
    </h5>
  </div>
 
  <div class="ui secondary page stackable grid overview segment segment-padding" id="actions">
    <h5 class="ui header center aligned not-on-mobile">
      TRADE MARKET
    </h5> 
    <div class="ui stackable centered center aligned grid">
      {% for exchange in site.exchanges %}
        <div class="five wide column pointer-cursor" onclick="openUrl('{{ exchange.url }}')">
          <div class="ui raised segment mobile-card">
            <h2 class="ui icon header">
              <img src="{{ '/assets/logo.svg' | prepend: site.baseurl }}" class="ui icon small image">
              <div class="content">
                {{ exchange.name }}
                <div class="sub header">{{ exchange.url }}</div>
              </div>
            </h2>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="ui page stackable grid overview segment segment-padding center aligned" id="actions">
    <div class="centered column">
      <h5 class="ui center aligned icon header">
        DOWNLOADS
      </h5>
      <div class="ui center aligned grid">
        {% for wallet in site.wallets %}
          <div class="three wide column pointer-cursor" onclick="openUrl('{{ wallet.url }}')">
            <div class="ui card">
              <div class="image">
                <img src="{{ wallet.logo | prepend: site.baseurl }}">
              </div>
              <div class="extra content not-on-mobile">
                  {{ wallet.name }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
