---
layout: home-layout
ref: index
lang: pl
menuitem: Home
priority: 1
requiresSemanticCard: true
---

<div class="home">
  <div class="ui secondary page stackable grid overview segment segment-padding" id="actions">
    <h5 class="ui header center aligned not-on-mobile">
      HANDLUJ NA RYNKACH
    </h5> 
    <div class="ui stackable centered center aligned grid">
      {% for exchange in site.exchanges %}
        <div class="five wide column center aligned pointer-cursor" onclick="openUrl('{{ exchange.url }}')">
          <div class="ui raised segment mobile-card">
            <h2 class="ui icon header">
              <i class="icon"><img src="{{ '/assets/logo.svg' | prepend: site.baseurl }}" class="ui small image"></i>
              <div class="content">
                {{ exchange.name }}
                <div class="sub header">{{ exchange.url }}</div>
              </div>
            </h2>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="ui page stackable grid overview segment segment-padding center aligned" id="actions">
    <div class="centered column">
      <h5 class="ui center aligned icon header">
        POBIERZ
      </h5>
      <div class="ui center aligned grid">
        {% for wallet in site.wallets %}
          <div class="three wide column pointer-cursor" onclick="openUrl('{{ wallet.url }}')">
            <div class="ui card">
              <div class="image">
                <img src="{{ wallet.logo | prepend: site.baseurl }}">
              </div>
              <div class="extra content not-on-mobile">
                  <i class="{% if wallet.ico %}{{ wallet.ico }}{% else %}cloud download{% endif %} icon"></i>
                  {{ wallet.name }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="ui inverted page grid overview segment" id="donate">
    <div class="ui inverted grid segment">
      <div class="row">
        <div class="wide column">
          <h1 class="center aligned ui header">
            Dotację
          </h1>
          <div class="ui horizontal divider"><i class="dollar icon inverted"></i> </div>
        </div>
      </div>
      <div class="ui inverted grid segment">
        <div class="ui one wide column"></div>
        <div class="fourteen wide column">
          <div class="ui two column center aligned stackable divided grid">
            <div class="column">
              <h2 class="center aligned ui header"> Nagrody </h2>
              <a class="ui teal label" style="text-transform:none">
              SZWZYPi5XUHwicoVU5n4EhyvsWMMkfSHE7
              </a>
              <p>SLM, które otrzymamy na ten adres, będą użyte, aby wynagrodzić deweloperów.</p>
            </div>
            <div class="column">
              <h2 class="center aligned ui header"> Rozdawanie </h2>
              <a class="ui teal label" style="text-transform:none">
              STr1oRL9K6jFHPer9jUhj5CkgSorwtTJxd
              </a>
              <p>SLM, które otrzymamy na ten adres, będą użyte, aby poprawić świadomość, poprzez rozdawanie ich, przy różnych okazjach.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
