<footer class="site-footer">
  <div class="ui inverted teal page stackable grid segment" id="footer">
    <div class="fourteen wide column">
      <div class="ui three column grid">
        <div class="column">
          <div class="ui header">{{ site.resourcesheading[page.lang] }}</div>
          <div class="ui inverted link list">
            <a class="item" href="https://github.com/slimcoin-project">Github</a>
            <a class="item" href="/whitepaperSLM.pdf" target="_blank">White Paper</a>
            <a class="item" href="https://github.com/slimcoin-project/Slimcoin/wiki" target="_blank">Wiki</a>
            <!---<a class="item" href="https://www.youtube.com/channel/UCUXx5ksHhkq6CQwZdlckaeQ/featured" target="_blank">YouTube</a> I'm disabling this on 2020-07-19 as this resource is not being used at the moment-->
          </div>
        </div>
        <div class="column">
          <div class="ui header">{{ site.socialheading[page.lang] }}</div>
          <div class="ui inverted link list"> 
            <a class="item" href="https://discord.gg/ffeDjmV">Discord</a>
            <a class="item"  href="https://www.reddit.com/r/slimcoin/">Reddit</a>
            <a class="item" href="https://bitcointalk.org/index.php?topic=1141676.0">Bitcointalk</a>
            <!--<a class="item" href="https://twitter.com/Slimcoin_club">#slimcoin_club @ Twitter</a>
            <a class="item" href="https://www.facebook.com/slimcoin.community">Facebook</a>
            <a class="item" href="https://t.me/SlimcoinGroup">Telegram</a> I'm disabling this on 2020-07-19 as this resources are not being used at the moment (buhtignew)-->
            
          </div>
        </div>
        <div class="column">
          <div class="ui header">{{ site.toolsheading[page.lang] }}</div>
          <div class="ui inverted link list">
            <!---<a class="item" href="https://iancoleman.github.io/bip39/">Key Generator</a> - I'm disabling this on 2020-07-19 as it's not clear to me why we are providing a backlink to someone or what is the use of this tool for the goals of SLM development (buhtignew)-->
            <a class="item" href="https://chainz.cryptoid.info/slm/" target="_blank">Block Explorer</a>
            {% for exchange in site.exchanges %}
              <a class="item" href="{{ exchange.url }}">
                {{ exchange.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div> 
    </div>
    <!--<div class="six wide right floated aligned column contact-mobile">
      <h3 class="ui header">Contact Us</h3>
      <addr> Page developed by Kryptos Lab
        <br>revived and modded by muf18 and <a href="https://t.me/ksdme" style="color: white;">ksdme</a> 
       </addr><p>contact@slimco.in</p>  - commented out by buhtignew on July 6, 2020 until the new mail box has been set up 
    </div>-->
    <div class="row">
        <div class="right aligned column">
          <div class="ui teal text container segment inverted">
        This site was originally developed by Kryptos Lab and then revived and modded by muf18, ksdme and others.
          </div>
        </div>
      </div>
  </div>
</footer>
