<footer class="site-footer">
  <div class="ui inverted teal page stackable grid segment" id="footer">
    <div class="ten wide column">
      <div class="ui three column grid">
        <div class="column">
          <div class="ui header">{{ site.resourcesheading[page.lang] }}</div>
          <div class="ui inverted link list">
            <a class="item" href="https://github.com/slimcoin-project">Github</a>
            <a class="item" href="https://github.com/slimcoin-project/slimcoin-project.github.io/blob/master/whitepaperSLM.pdf" target="_blank">White Paper</a>
            <a class="item" href="https://github.com/slimcoin-project/Slimcoin/wiki" target="_blank">Wiki</a>
            <a class="item" href="https://www.youtube.com/channel/UCUXx5ksHhkq6CQwZdlckaeQ/featured" target="_blank">YouTube</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">{{ site.socialheading[page.lang] }}</div>
          <div class="ui inverted link list"> 
            <a class="item" href="https://bitcointalk.org/index.php?topic=1141676.0">Bitcointalk</a>
            <a class="item" href="https://twitter.com/Slimcoin_club">#slimcoin_club @ Twitter</a>
            <a class="item"  href="https://www.reddit.com/r/slimcoin/">Reddit</a>
            <a class="item" href="https://www.facebook.com/slimcoin.community">Facebook</a>
            <a class="item" href="https://t.me/SlimcoinGroup">Telegram</a>
            <a class="item" href="https://discord.gg/ffeDjmV">Discord</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">{{ site.toolsheading[page.lang] }}</div>
          <div class="ui inverted link list">
            <a class="item" href="https://iancoleman.github.io/bip39/">Key Generator</a>
            <a class="item" href="https://chainz.cryptoid.info/slm/" target="_blank">Block Explorer</a>
            {% for exchange in site.exchanges %}
              <a class="item" href="{{ exchange.url }}">
                {{ exchange.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div> 
    </div>
    <div class="six wide right floated aligned column contact-mobile">
      <h3 class="ui header">Contact Us</h3>
      <addr> Page developed by Kryptos Lab
        <br>revived and modded by muf18 and <a href="https://t.me/ksdme" style="color: white;">ksdme</a> 
      </addr><p>contact@slimco.in</p>
    </div>
  </div>
</footer>
