<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Standard Meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- glitter -->
    <meta name="theme-color" content="#25497B">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Site Properties -->
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}</title>
    <!-- <title>Slimcoin</title> -->
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">

    <link rel="shortcut icon" type="image/png" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/libs/Semantic/semantic.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/css/homepage.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <script src="{{ "/libs/jQuery/jq.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/libs/Semantic/semantic.min.js"| prepend: site.baseurl }}"></script>
    <script src="{{ "/js/homepage.min.js"| prepend: site.baseurl }}"></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
    <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />{% endfor %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
    <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}">

    <!-- include semantic-card.min.css if needed -->
    {% if page.requiresSemanticCard == true %}
        <link rel="stylesheet" type="text/css" href="{{ "/libs/Semantic/semantic-card.min.css" | prepend: site.baseurl }}">
    {% endif %}

    <!-- highlights blocks of code by page.codeType -->
    {% include code-highlight.html %}
</head>
