<header class="site-header">
  <div class="ui inverted page grid masthead segment mast-gradient">
    <div class="column">
      <div class="inverted secondary pointing ui menu">
        <a class="header item" target="_self" href="{{ "/index.html" | prepend: site.baseurl }}">Slimcoin</a>
        <!-- Mobile menu -->
        <a class="mobile-only ui right aligned header link item" id="mobile-menu-trigger">
          &nbsp;&nbsp;Menu&nbsp;&nbsp;<i class="caret down icon"></i>
        </a>

        <div class="mobile-only aligned header item ui transition hidden" id="mobile-menu-list">
          <div class="menu">
            <center>
              <span class="item">
                <div class="ui icon buttons">
                  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                  {% for page in pages %}
                    <a class="ui red button {{ page.lang }}" href="{{ page.url | prepend: site.baseurl }}">{{ page.lang }}</a>
                  {% endfor %}
                </div>
              </span>
            </center>
            {% assign pages=site.pages | where:"lang", page.lang | sort: 'priority' %}
            {% for my_page in pages %}
              {% if my_page.menuitem %}
                <a class="item" style="width: 100% !important" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.menuitem }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <!-- Non-mobile menu bar -->
        <div class="right menu">
          <div class="ui dropdown link item">
            Technology <i class="dropdown icon"></i>
            <div class="menu"><!--
              -->{% assign techpages=site.pages | where:"lang", page.lang | where:"category", "technology" | sort: 'priority' %}<!--
              -->{% for my_page in techpages %}<!--
                -->{% if my_page.menuitem %}<!--
                  --><a class="item" target="_self" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.menuitem }}</a><!--
                -->{% endif %}<!--
              -->{% endfor %}<!--
             --><a class="item" target="_blank" href="https://github.com/slimcoin-project/slimcoin-project.github.io/raw/master/whitepaperSLM.pdf">White Paper</a><!--
            --></div>
          </div>
          <div class="ui dropdown link item">
            Help and Tools<i class="dropdown icon"></i>
            <div class="menu"><!--
              -->{% assign helppages=site.pages | where:"lang", page.lang | where:"category", "help" | sort: 'priority' %}<!--
              -->{% for my_page in helppages %}<!--
                -->{% if my_page.menuitem %}<!--
                  --><a class="item" target="_self" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.menuitem }}</a><!--
                -->{% endif %}<!--
              -->{% endfor %}<!--
              --><a class="item" href="https://bchain.info/SLM/" target="_blank">BChain.Info Block Explorer</a><!--
              --><a class="item" href="http://tessier.bel-epa.com:5064" target="_blank">ACME Metadata Explorer</a><!--
             --></div>
          </div>
          <div class="ui dropdown link item">
            Downloads <i class="dropdown icon"></i>
            <div class="menu"><!--
              --><a class="item" href="https://github.com/muf18/slimcoin-website-project/raw/master/slimcoin-qt.exe">Simcoin-QT 0.5.1 (Windows)</a><!--
              --><a class="item" href="https://drive.google.com/drive/folders/1IDaf4BD2SL0_RJxdp0CZNU7-4aR0EL5x">Simcoin-QT 0.5 (ARM V5/V7)</a><!--
              --><a class="item" href="https://github.com/slimcoin-project/Slimcoin/releases">Simcoin-QT 0.5 (Windows/Mac)</a><!--
              --><a class="item" href="https://github.com/slimcoin-project/Slimcoin/tree/master">Simcoin's Source Code</a> <!--
              --><a class="item" href="https://mega.nz/#!QnxkwTbK!et6c6zINNHuGAgU1wqil5fw_oxOyek2Zv_MWl2x8XT4" target="_parent">SLM Blockchain Snapshot 10.12.2017r</a><!--
              --><a class="item" href="https://mega.co.nz/#!pg8lEJoL!54dSH7LrpmOJiMzNS72MDCYvZtXwqnHGyCApmYIpxkA" target="_parent">SLM Blockchain Snapshot 236000</a><!--
            --></div>
          </div>
          <div class="ui dropdown link item">
        Participate <i class="dropdown icon"></i>
            <div class="menu"><!--
              -->{% if page.ref == "index" %}<!--
              --><a class="item" href="#donate" target="_parent">Donate</a><!--
              -->{% endif %}<!--
              --><a class="item" href="https://bitcointalk.org/index.php?topic=1141676.0">Discussion Thread</a><!--
              --><a class="item" href="https://github.com/slimcoin-project/Slimcoin/wiki">Wiki</a><!--
            --></div>
          </div>
          <div class="ui dropdown link item">
            Languages <i class="dropdown icon"></i>
            <div class="menu"><!--
              -->{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}<!--
              -->{% for page in pages %}<!--
              --><a href="{{ page.url | prepend: site.baseurl }}" class="item {{ page.lang }}">{{ page.lang }}</a><!--
              -->{% endfor %}<!--
            --></div>
          </div> 
        </div>
      </div>
      <div class="anim ui transition information visible">
        <h1 class="ui inverted header big-for-mobile left">
        The Next Generation of Cryptocurrencies
        </h1>
        <p style="padding-left:20px">Parallelism-resistant Proof-of-Work and first Novel Proof-of-Burn Implementation</p>
      </div>
      <img src="{{ "/assets/slm.png" | prepend: site.baseurl }}" class="ui center aligned medium image anim" width="100px"> 
    </div>
  </div>
</header>


